.fc-toolbar {
  background-color: #f95005;
  color: white;
  padding: 10px;
}

.fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.fc-button {
  background-color: #f95005;
  color: white;
  border: none;
  border-radius: 4px;
}

.fc-button:hover {
  background-color: #c73f04;
  color: rgb(184, 60, 60);
}

.fc-daygrid-day {
  border: 1px solid #f95005;
}

.fc-day-today {
  background-color: #f9500510;
  border-left: 4px solid #f95005;
}
.fc-scrollgrid-sync-inner {
  color: #000000;
}
.fc-header-toolbar .fc-toolbar {
  margin-bottom: 0;
}
.fc .fc-button-primary:disabled {
  background-color: white !important;
  border: none;
  color: black;
  font-weight: bolder;
}

.fc .fc-button-primary:hover {
  background-color: white !important;
  border: none;
  color: black;
}

.fc .fc-button-primary {
  background-color: #ffffff;
  border: none;
  color: Black;
  font-weight: bolder;
  text-transform: capitalize;
}
