@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css" @layer
  tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
    .p-datatable-tbody
  )
  .p-datatable-tbody
  > tr
  > td {
  padding: 10px 5px !important;
}

/* FULL CALENDAR CSS */
.fc-h-event .fc-event-main {
  color: green;
  background: white;
  font-weight: bold;
  border: none;
}

/* DASHBOARD */
.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px 1rem;
}

/* PRIMARY NAV */
.primaryNav p {
  font-weight: bold;
  font-size: 17px;
}

.primaryNav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: white;
  position: sticky !important;
  left: 0;
  top: 0;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* dashbaord settings */
/* Default: Show main_container, hide primaryNav */

.primaryNav {
  display: none !important;
}

/* Mobile view: Hide main_container, show primaryNav */
@media (max-width: 768px) {
  .main_container {
    display: none;
  }

  .primaryNav {
    display: flex !important;
  }
}
