@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css" @layer
  tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(
    .p-datatable-tbody
  )
  .p-datatable-tbody
  > tr
  > td {
  padding: 10px 5px !important;
}

/* FULL CALENDAR CSS */
.fc-h-event .fc-event-main {
  color: green;
  background: white;
  font-weight: bold;
  border: none;
}

/* DASHBOARD */
.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px 1rem;
}

/* PRIMARY NAV */
.primaryNav p {
  font-weight: bold;
  font-size: 17px;
}

.primaryNav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: white;
  position: sticky !important;
  left: 0;
  top: 0;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* SIDEBAR CSS */

.newSideBarBtn .p-sidebar-icons button {
  color: white;
}

.sideBarRoute .routePath {
  /* color: white; */
  display: flex;
  font-size: 18px;
  margin: 0;
  align-items: center;
}

.p-sidebar-content {
  /* padding: 0; */
}

.link.active .sideBarRoute .routePath .icon {
  font-weight: bold;
  color: black;
}

.link:hover {
  color: black;
}

.link .sideBarRoute .routePath .icon {
  color: white;
}

/* FIELD SET STYLES */
.p-fieldset-legend.p-unselectable-text {
  border: 2px solid #f95005;
  background-color: #f95005;
  color: white;
}

fieldset {
  border: 2px solid #f95005;
}

/* TILES */
.p-selectbutton.p-button-group.p-component .p-button.p-component.p-highlight {
  background-color: #f95005;
  color: white;
  border: 2px solid #f95005;
}

.p-selectbutton.p-button-group.p-component .p-button.p-component {
  background-color: white;
  color: #f95005;
  border: 1px solid #f95005;
}

.approveButtons .p-button .p-button-icon {
  margin-top: 15px;
}


@media print {
  html,
  body {
    display: none;
  }
}
